<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset="UTF-8">
        <link type="text/css" rel="stylesheet" href="HOMEPAGE.css">
        <title>Homepage</title>
    </head>
    <body>
        {{>header}}
        <div class="bottom">
            <div class="bottom__left">
                <h2 id="bottom__left__top">BUILD SMALL AND TIGHT KNIT COMMUNITIES
                </h2>
                <div class="bottom__left__image">
                    <img src="picture--homepage.PNG" alt="Chat">
                    CHAT with people of similar interests.
                    <br><img src="Capture.PNG" alt="Connect">
                    CONNECT with people with similar interests.
                </div>
            </div>
            <div class ="bottom__right">
                <div>
                    <h1 class="bottom__right_top">Sign up
                    </h1>
                    <p><font size='3'>Quick and Easy</font></p>
                </div>
                <input type="text" class="bottom_right_text" placeholder="Your name"><br>
                <input type="email" class="bottom_right_email" placeholder="Email"><br>
                <input type="password" class="bottom_right_pass" placeholder="Password"><br>
                <button class="bottom_right_sign">Sign up</button>                 
            </div>
        </div>
    </body>
</html>