<!DOCTYPE html>
<html>
    <head>
        <link type="text/css" rel="stylesheet" href="HOMEPAGE.css">
    </head>
    <body>
        <div class ="top">
            <div class ="login">
                <div class="login_container">
                    <input type="email" class="login__email" placeholder="Email Address">
                    <input type="password" class="login__password" placeholder="Password">
                    <button class="login__submit">Login</button>
                    <br><a href ="ForgotPw.html" class="login__forgot">Forgot Password</a>
                </div>
            </div>
        </div>
    </body>
</html>
